# IntelliJ project files
.idea
*.iml
out
gen

# Custom ignores
/_env/
*.pyc


/media_root/
/static_root/

/db.sqlite3

/src/local_settings.py
/src/local_settings_template.py

/~webfaction/
/~edits_to_ckeditor/






