# IntelliJ project files
.idea
*.iml
out
gen

# Custom ignores
/_env/
*.pyc


/_media_root/
/_static_root/

/db.sqlite3

/src/local_settings.py

/~webfaction/
/~edits_to_ckeditor/







src/local_settings_template.py

src/local_settings_template.py
