/* Navbar */
.navbar-default .navbar-nav>li>a {
    margin-top: 8px;
    color: #188610; !important;
    font-weight: 400;
}

.welcome_user {
    font-weight: bold;
    color: #6600ff; !important;
}

/* Jumbotron */
.jumbotron {
    background-color: #3fb53f;
}

.logo_nav {
    height: 45px;
    margin-top: 1px;
}

.logo_jumbotron{
  height: 100px;
}

.center {
    text-align: center;
}
/* Journal */
.draft {
    color: red;
}

.future {
    color: mediumpurple;
}

/* Landing Page - Pricing Section */
.amount {
    font-size: xx-large;
    font-weight: bold;
    padding: 2px;
}

.pricing {
    height: 325px;
}

.btn-pricing {
    position: absolute;
    bottom:0;
}

/* Footer */
.footer {
    color: #6600ff;
}

