{% load static %}
<!-- Bootstrap / Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Font-Awesome 4.6 minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- StyleSheet for bootstrap Static Top Navbar Template -->
<link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">

<!-- custom.css -->
<link rel="stylesheet" href='{% static 'css/custom.css' %}' />