{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} | Garden Journal{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Confirm Delete</h1>
            <form method="POST" action="."> {% csrf_token %}
                <p>Are you sure you want to delete: "{{ object.content }}"?</p>
                <input type="submit" value="Confirm" class="btn btn-warning">
                <a href='{{ return_url }}' class="btn btn-default">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}