{% extends "base.html" %}
{% load static %}

{% block title %} | Gardeners{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>

    {% for gardener in gardeners_list %}

        <p><b>{{ gardener }}:</b>  {{ gardener.first_name }} {{ gardener.last_name }}</p>
        <p>{{ gardener.profile.bio }}</p>
        <p>{{ gardener.profile.location }}</p>
        <p>{{ gardener.profile.birth_date }}</p>
        <a class="btn btn-lg btn-success" href="#" role="button">Follow &raquo;</a>
        <hr>

    {% endfor %}

{% endblock %}