{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} | Garden Journal{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>Garden Journal</h1>

            <form method='POST' action='' enctype="multipart/form-data">{% csrf_token %}
                {{ form.media }}
                {{ form | crispy }}
                {% if 'edit' in request.get_full_path %}
                    <input type='submit' value='Update' class="btn btn-success"/>
                    <a href='{{ entry.get_absolute_url }}' class="btn btn-success" role="button">Cancel</a>
                {% else %}
                    <input type='submit' value='Create' class="btn btn-success"/>
                    <a href='{% url "journal:journal" %}' class="btn btn-success" role="button">Return</a>
                {% endif %}
            </form>

            <hr>

            <a href='{% url "journal:journal" %}'>Return to List</a>
        </div> <!-- /col -->
    </div> <!-- /row -->

{% endblock %}