{% extends "base.html" %}
{% load static %}

{% block title %} | Garden Journal{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>Garden Journal</h1>
            {% if entry.badge %}
                <img src='{{ entry.badge.url }}' class='img-responsive' />
            {% endif %}
            <h3>
                {{ entry.title }}
                {% if entry.draft %}
                    <i class="fa fa-pencil-square draft" title="Draft Journal Entry" aria-hidden="true"></i>
                {% endif %}
                {% if entry.publish > today %}
                    <i class="fa fa-calendar future" title="Future Journal Entry" aria-hidden="true"></i>
                {% endif %}
                <small>{{ entry.publish }} (id:{{entry.id }})</small>
            </h3>
            <p>
                Author:
                {% if entry.user.get_full_name %}
                    {{ entry.user.get_full_name }}
                {% else %}
                    {{ entry.user }}
                {% endif %}
            </p>
            <p>{{ entry.content|linebreaks }}</p>


            <p>
                <div class="fb-like" data-href="{{ request.build_absolute_uri }}"" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
                <a class="btn btn-primary btn-xs" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i> Share
                </a>
                <a class="btn btn-primary btn-xs" href="https://twitter.com/home?status=Check this out at {{ request.build_absolute_uri }}" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i> Tweet
                </a>
            </p>

            {% if user.is_authenticated %}
                <p>
                    <hr>
                    <a class="btn btn-success" href='{% url "journal:update" slug=entry.slug %}'><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                    <a class="btn btn-success" href='{% url "journal:delete" slug=entry.slug %}'><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                </p>
            {% endif %}

            <p>
                <hr>
                <a href='{% url "journal:journal" %}'>Return to List</a>
            </p>

            <div>
                {{ entry.comment_set.all }}
            </div>
            <!-- Facebook comments plugin
            <div class="fb-comments" data-href="{ { request.build_absolute_uri }}" data-numposts="5"></div>
            -->


        </div> <!-- /col -->
    </div> <!-- /row -->

{% endblock %}