{% extends "base.html" %}
{% load static %}

{% block title %} | Garden Journal{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <form method='GET' action=''>
                <input type='text' placeholder='Search Journal' name="q" value="{{ request.GET.q }}">
                <input type="submit" value="Search" class="btn btn-success btn-xs">
            </form>

            <h1>Garden Journal</h1>

            {% for entry in journal %}
                <div class="thumbnail">
                    {% if entry.badge %}
                        <img src='{{ entry.badge.url }}' class='img-responsive' />
                    {% endif %}
                    <div class="caption">
                        {% if entry.draft %}
                            <i class="fa fa-pencil-square fa-2x draft" title="Draft Journal Entry" aria-hidden="true"></i>
                        {% endif %}
                        {% if entry.publish > today %}
                            <i class="fa fa-calendar fa-2x future" title="Future Journal Entry" aria-hidden="true"></i>
                        {% endif %}
                        <h3>
                            <b><a href='{{ entry.get_absolute_url }}'>{{ entry.title }}</a></b>
                            <small>{{ entry.publish|timesince }} ago (id:{{ entry.id }})</small>
                        </h3>
                        <p>
                            Author:
                            {% if entry.user.get_full_name %}
                                {{ entry.user.get_full_name }}
                            {% else %}
                                {{ entry.user }}
                            {% endif %}
                        </p>
                        <p>{{ entry.content|linebreaks|truncatechars:120 }}</p>
                        <p><a href='{{ entry.get_absolute_url }}' class="btn btn-sm btn-success" role="button">View Detail</a></p>
                    </div> <!-- /caption -->
                </div> <!-- / thumbnail -->
            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                    {% if journal.has_previous %}
                        <a class="btn btn-xs btn-primary" href="?page={{ journal.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </a>
                    {% endif %}

                    <span class="current">
                        Page {{ journal.number }} of {{ journal.paginator.num_pages }}.
                    </span>

                    {% if journal.has_next %}
                        <a class="btn btn-xs btn-primary" href="?page={{ journal.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </span>
            </div>

            <hr>
            <a class="btn btn-success" href='{% url "journal:create" %}'><i class="fa fa-plus" aria-hidden="true"></i> Add New</a>
        </div> <!-- /col -->
    </div> <!-- /row -->
{% endblock %}



