{% extends "base.html" %}
{% load static %}

{% block title %} | Garden Journal{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>Garden Journal</h1>

            {% for entry in journal %}
                <div class="thumbnail">
                    <!--<img src="..." alt="...">-->
                    <div class="caption">
                        <h3><b><a href='{{ entry.get_absolute_url }}'>{{ entry.title }}</a></b> <small>{{ entry.createTS|timesince }} ago</small></h3>
                        <p>{{ entry.content|linebreaks|truncatechars:120 }}</p>
                        <p><a href='{{ entry.get_absolute_url }}' class="btn btn-sm btn-success" role="button">View Detail</a></p>
                        <p><small>id:{{ entry.id }}</small></p>
                    </div> <!-- /caption -->
                </div> <!-- / thumbnail -->
            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                    {% if journal.has_previous %}
                        <a class="btn btn-xs btn-primary" href="?page={{ journal.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                    {% endif %}

                    <span class="current">
                        Page {{ journal.number }} of {{ journal.paginator.num_pages }}.
                    </span>

                    {% if journal.has_next %}
                        <a class="btn btn-xs btn-primary" href="?page={{ journal.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    {% endif %}
                </span>
            </div>

            <hr>
            <a class="btn btn-success" href='{% url "journal:create" %}'><i class="fa fa-plus" aria-hidden="true"></i> Add New</a>
        </div> <!-- /col -->
    </div> <!-- /row -->
{% endblock %}



