{% extends "base.html" %}
{% load static %}

{% block title %} | Garden Journal{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>Garden Journal</h1>
            {% if entry.badge %}
                <img src='{{ entry.badge.url }}' class='img-responsive' />
            {% endif %}
            <h3>{{ entry.title }} <small>{{ entry.createTS }}</small></h3>
            {{ entry.content|linebreaks }}</br>
            <small>id:{{ entry.id }}</small></br>

            <hr>
            <a class="btn btn-success" href='{% url "journal:update" id=entry.id %}'><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
            <a class="btn btn-success" href='{% url "journal:delete" id=entry.id %}'><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>

            <hr>
            <a href='{% url "journal:journal" %}'>Return to List</a>
        </div> <!-- /col -->
    </div> <!-- /row -->

{% endblock %}